<html>
  <head>
    <title>Your Dashboard: CherimoyaBnB</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body class="dashboard">
    <div class="nav">

    <!-- !! The following may conflict !! -->

    <!-- <nav> -->
        <!-- <img style="width: 80px; float: left;" src='/images/cherimoya.png'> -->
        <p style="color: green;">Dashboard</p>
        <a class="listingNav" href="/createlisting"><p>Listings</p></a>
        <a class="bookingNav" href="/makebooking?space_id=1"><p>My Bookings</p></a>
        <a class="requestNav" href="/requests"><p>Requests</p></a>
        <a class="signupNav" href="/logout"><p>Log out</p></a>
    </div>

    <nav class="nav">
            <a class="listingNav" href="/createlisting">Create a new listing</a>
            <!-- <a class="bookingNav" href="/makebooking?space_id=1">My Bookings</a> -->
            <a class="requestNav" href="/requests">Booking Requests</a>
            <a class="signupNav" href="/logout">Log out</a>
    </nav>

    <!-- !! The above may conflict !! -->
    
    <hr>
        <h1>Welcome back to CherimoyaBnB, <%= @user_name %>!</h1>
       
        <div class="filter">
            <form action="/dashboard" method="POST">
                Available from:<input type="text" name="available_from">
                Available to:<input type="text" name="available_to">
                Maximum price per night:<input type="text" name="max_price">
                <input type="submit" value="Filter">
            </form>
        </div>

        <%if not @spaces.nil?%>
            <% @spaces.map do |space| %>
            <div class="space_wrapper">
                <!-- <span class="link"></span> -->
                    <p class="space_name"><%= space.name %></p>
                    <p class="space_name">Price per night: £<%= space.price_per_night %></p>
                    <form action="/makebooking" method="GET">
                        <input type='hidden' name='space_id' value='<%=space.id%>'/>
                        <input type='submit' value='Book now'/>
                    </form>
            </div>
            <%end%>
        <%end%>

        <%if not @filtered_spaces.nil?%>
            <%@filtered_spaces.map do |space|%>
            <div class="space_wrapper">
            <span class="link"></span>
                <p class="space_name"><%= space.name %></p>
                <p class="space_name">Price per night: £<%= space.price_per_night %></p>

                <form action="/makebooking" method="GET">
                    <input type='hidden' name='space_id' value='<%=space.id%>'/>
                    <input type='submit' value='Book now'/>
                </form>

            </div>
            <%end%>
        <%end%>
    <div class="pages_scroller"><h4 style="text-align: center;">Page 1 / 1</h4></div>
    </div>
    <div class="right"></div>
  </body>
</html>
